@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body {
  text-align: center;
}

.pop-up {
  background-color: #ffffff;
  padding: 25px;
  width: 320px;
  height: 474px;
  border: 1px solid #ccc;
  border-radius: 18px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sub {
  margin-top: 20px;
  margin-bottom: 0;
  padding: 0;
}

h6,
h2,
button p {
  padding: 0;
  margin: 0;
}

ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}

button {
  height: 85px;
  padding: 7.5px;
  border: none;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
}

button h6 {
  color: white;
}

button p {
  font-size: 8px;
  margin-bottom: 25px;
  text-align: left;
}

.ylw {
  background-color: #ffd700;
  border: 2px solid #000000;
  color: #000000;
  margin-top: 45px;
}

.blk {
  background-color: #000000;
  border: 2px solid #ffd700;
  color: #ffd700;
  margin-top: 10px;
}

.renew {
  margin-top: 45px;
}

@media only screen and (max-width: 375px) and (max-height: 667px) {
  .pop-up {
    width: 280px;
    height: 400px;
    padding: 20px;
  }

  .pop-up h2 {
    font-size: 24px;
  }

  .pop-up p {
    font-size: 14px;
  }

  .pop-up button {
    height: 75px;
    padding: 5px;
  }

  .pop-up button h6 {
    font-weight: 800;
  }

  .pop-up button h2 {
    font-size: 17px;
  }

  .pop-up button p {
    font-size: 7.5px;
    font-weight: 500;
  }

  .renew {
    font-size: 24px;
    margin-top: 25px;
  }
}
